[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PoissonPCA"]
	path = PoissonPCA
	url = https://github.com/cran/PoissonPCA
[submodule "SuRF.vs"]
	path = SuRF.vs
	url = https://github.com/cran/SuRF.vs
